Notification Hub.json
{
  "createdAt": "2025-08-25T22:01:59.882Z",
  "updatedAt": "2025-09-24T15:17:37.000Z",
  "id": "wvAmiLfYxmDXmmp1",
  "name": "Notification Hub",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workspace_id"
            },
            {
              "name": "notification_type"
            },
            {
              "name": "members",
              "type": "array"
            },
            {
              "name": "data",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        464
      ],
      "id": "9f4cbe6e-4d49-4491-90f4-f1c23c00b57c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"subscription_activated\": [\"email\"],\n  \"subscription_upgraded\": [\"email\"],\n  \"quota_warning\": [\"email\"],\n  \"quota_exceeded\": [\"email\"],\n  \"human_handover\": [\"email\", \"whatsapp\"],\n  \"reply_reminder\": [\"whatsapp\"]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        464
      ],
      "id": "eb7da537-0a27-41a5-a66b-121a07f5347b",
      "name": "Notifications"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        464
      ],
      "id": "80b0ee53-f378-4303-82f8-7f4c9b8172ed",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.notification_type }}",
                    "rightValue": "subscription_activated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Subscription Activated"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.notification_type }}",
                    "rightValue": "subscription_upgraded",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Subscription Upgraded"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.notification_type }}",
                    "rightValue": "quota_warning",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Quota Warning"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.notification_type }}",
                    "rightValue": "quota_exceeded",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Quota Exceeded"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.notification_type }}",
                    "rightValue": "human_handover",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Human Handover"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        896,
        800
      ],
      "id": "aed6c1ed-125b-48e9-8b03-d167e2b6e869",
      "name": "Email Router"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.enable_wa_notification }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "91e34daa-beac-4311-995f-90ff9788ab2c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5992d192-da24-47f6-af30-cd262ec713bf",
                    "leftValue": "={{ $json.enable_email_notification }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Email"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        640,
        464
      ],
      "id": "37ddfea0-9c61-43cd-8538-76c4aaf34a64",
      "name": "Channel Router"
    },
    {
      "parameters": {
        "fromEmail": "ZendoWhisper Support <support@zendowhisper.com>",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2016,
        864
      ],
      "id": "f9f2a57d-fc55-4214-8d8f-61375bb10d17",
      "name": "Send Email to Seller",
      "webhookId": "247c0cd7-3112-41c2-bc39-ee9d2da7f7ec",
      "credentials": {
        "smtp": {
          "id": "l2JuSZMZCt8igy54",
          "name": "ZeptoMail SMTP"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07716916-1f6d-42d8-9d67-091f89c5e8e1",
              "name": "content",
              "value": "=Hi {{ $('Get Workspace').first().json.workspace_name }},\n\nA very warm welcome from the entire team at ZendoWhisper! We're thrilled to have you join us.\n\nWe are passionate about helping businesses like yours build stronger connections with their customers, and we're excited to be a part of your journey. We truly believe in the power of great communication and look forward to seeing what you will accomplish.\n\nPlease know that our team is here to support you. If any questions come up, don't hesitate to reply to this email—we're always happy to help.\n\nBest regards,\nThe ZendoWhisper Team",
              "type": "string"
            },
            {
              "id": "74df7188-490b-472c-bd9e-3f00c6f0a340",
              "name": "subject",
              "value": "Welcome to ZendoWhisper",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        528
      ],
      "id": "1b3843f4-d5ac-498e-a7a5-46bf550c11ee",
      "name": "Sub Activated"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZyKdY1fuvFlkAH2F",
          "mode": "list",
          "cachedResultName": "Intellixio — Get Workspace Data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workspace_id": "={{ $('When Executed by Another Workflow').item.json.workspace_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workspace_id",
              "displayName": "workspace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "twilio_account_id",
              "displayName": "twilio_account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "d360_client_id",
              "displayName": "d360_client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -48,
        464
      ],
      "id": "62e553d4-bc08-499c-a685-681286805840",
      "name": "Get Workspace"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07716916-1f6d-42d8-9d67-091f89c5e8e1",
              "name": "content",
              "value": "=Hi {{ $('Get Workspace').first().json.workspace_name }},\n\nGreat news — your ZendoWhisper account has been successfully upgraded to {{ $('When Executed by Another Workflow').first().json.data.package_type }}. You now have access to all the features included in your new plan.\n\nWe’re excited to support you as you continue to grow with ZendoWhisper. If you have any questions or need help getting the most out of your plan, our team is here for you.\n\nThanks for choosing ZendoWhisper!\n\nBest,\nThe ZendoWhisper Team",
              "type": "string"
            },
            {
              "id": "74df7188-490b-472c-bd9e-3f00c6f0a340",
              "name": "subject",
              "value": "Your ZendoWhisper account has been upgraded!",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        688
      ],
      "id": "c413548d-605b-476f-a9c4-a6103d4ec10e",
      "name": "Sub Upgrade"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07716916-1f6d-42d8-9d67-091f89c5e8e1",
              "name": "content",
              "value": "=Hi {{ $('Get Workspace').first().json.workspace_name }},\n\nThis is a friendly heads-up from ZendoWhisper. You're having a busy month!\n\nYou have now used over 80% of your monthly AI message quota on the {{ $('When Executed by Another Workflow').first().json.data.package_type }} plan.\n\nThere is no interruption to your service. Your AI chatbot will continue to answer buyer queries automatically. We just wanted to let you know so you can plan for the rest of the month.\n\nWhat happens if you reach your limit?\n\nIf you exceed 100% of your quota, the AI will be temporarily paused for the remainder of the month. All incoming messages will be routed directly to you for manual response to ensure no buyer query is missed. Your quota will automatically reset on the 1st of next month.\n\nThanks for being a valued customer!\nBest regards,\nZendoWhisper Team",
              "type": "string"
            },
            {
              "id": "74df7188-490b-472c-bd9e-3f00c6f0a340",
              "name": "subject",
              "value": "Heads Up: You've used 80% of your ZendoWhisper message quota",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        848
      ],
      "id": "3cbae45c-18db-4c32-b952-e69d866b06c7",
      "name": "Quota Warning"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07716916-1f6d-42d8-9d67-091f89c5e8e1",
              "name": "content",
              "value": "=Hi {{ $('Get Workspace').first().json.workspace_name }},\n\nThis is an important notification regarding your account on the {{ $('When Executed by Another Workflow').first().json.data.package_type }} plan.\n\nYou have now exceeded your monthly AI message quota. To prevent unexpected costs, we have temporarily paused the AI chatbot on your account till your next billing date.\n\nWhat does this mean for you?\n\nEffective immediately, all new buyer messages will be routed directly to you. You will need to reply to these messages manually to ensure your customers receive a response.\nYour AI service will automatically resume when your quota resets after the next billing date.\n\nHow to re-enable your AI chatbot now:\n\nDon't want to wait? You can instantly re-enable your AI and continue providing automated responses by upgrading to a plan with a higher message limit. The new limit will be effective immediately upon upgrading.\n\nWe're here to help if you have any questions about your usage or plan options.\nBest regards,\nZendoWhisper Team",
              "type": "string"
            },
            {
              "id": "74df7188-490b-472c-bd9e-3f00c6f0a340",
              "name": "subject",
              "value": "Quota Exceeded: Your ZendoWhisper AI has been paused ",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        1008
      ],
      "id": "65992b5c-66bc-455f-ba81-0cbf1710bfca",
      "name": "Quota Exceed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07716916-1f6d-42d8-9d67-091f89c5e8e1",
              "name": "content",
              "value": "=Hello,\n\nThis email is to notify you that your attention is required for a new message on {{ $('Get Workspace').first().json.workspace_name }}.\n\nA buyer, {{ $('When Executed by Another Workflow').first().json.data.buyer_number }}, has sent the following message that needs human intervention:\n\n> \"{{ $('When Executed by Another Workflow').first().json.data.chatInput }}\"\n\nYou should visit your ZendoWhisper portal or click the link below to reply to the buyer.\n\n---\nReply Here by visiting the link below:\nhttps://app.zendowhisper.com/{{ $('When Executed by Another Workflow').first().json.data.url }}\n---\n\nThank you for your prompt attention to this matter.\n\nBest regards,\nZendoWhisper",
              "type": "string"
            },
            {
              "id": "74df7188-490b-472c-bd9e-3f00c6f0a340",
              "name": "subject",
              "value": "ZendoWhisper: Buyer Requires Attention",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        1168
      ],
      "id": "7d961124-55b0-41e2-a343-147b2896ef85",
      "name": "Human Handover"
    },
    {
      "parameters": {
        "jsCode": "const members = $('When Executed by Another Workflow').first().json.members\n\nconst notification_type = $('When Executed by Another Workflow').first().json.notification_type\n\nconst notifications = $('Notifications').first().json\n\nconst eligible_members = members.filter(member => {\n  var eligible = false\n  if (member.enable_email_notification && notifications[notification_type].includes(\"email\") && member.email) {\n    eligible = true\n  }\n  if (member.enable_wa_notification && notifications[notification_type].includes(\"whatsapp\") && member.whatsapp_number) {\n    eligible = true\n  }\n\n  return eligible ? member : null\n})\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();\nreturn eligible_members"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        464
      ],
      "id": "36fe1083-c28a-4088-a82e-ff364a45e140",
      "name": "Filter Eligible Members"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2448,
        1344
      ],
      "id": "1c1d74e0-3e5a-4873-96ab-090dda8204eb",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2304,
        368
      ],
      "id": "4d70e279-b476-4e3f-9456-57bf60150483",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1008,
        1344
      ],
      "id": "fb841ae5-f25e-4feb-9c1b-115184f2804c",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waba-v2.360dialog.io/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.whatsapp_number }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"handover_notification\",\n    \"language\": {\n      \"code\": \"en_US\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $('When Executed by Another Workflow').first().json.data.buyer_number.trim() }}\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $('When Executed by Another Workflow').first().json.data.chatInput }}\"\n          }\n        ]\n      },\n      {\n        \"type\": \"button\",\n        \"sub_type\": \"url\",\n        \"index\": \"0\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $('When Executed by Another Workflow').first().json.data.url }}\"\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        0
      ],
      "id": "f5912808-3419-498b-90de-51e7a01fde80",
      "name": "Send handover_notification",
      "credentials": {
        "httpHeaderAuth": {
          "id": "V2m0M4Dx02sgWtPw",
          "name": "360D Dynamic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waba-v2.360dialog.io/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.whatsapp_number }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"reply_reminder\",\n    \"language\": {\n      \"code\": \"en_US\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $('Get Workspace').first().json.workspace_name }}\"\n          }\n        ]\n      },\n      {\n        \"type\": \"button\",\n        \"sub_type\": \"url\",\n        \"index\": \"0\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $('When Executed by Another Workflow').first().json.data.url }}\"\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -160
      ],
      "id": "d10d4c17-b2e2-4a03-877d-f56f1acaa26e",
      "name": "Send reply_reminder",
      "credentials": {
        "httpHeaderAuth": {
          "id": "V2m0M4Dx02sgWtPw",
          "name": "360D Dynamic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $vars.twilio_notification_sid }}/Messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ContentSid",
              "value": "=HX4e714ad8f3c22803b5d2ee5878fd8383"
            },
            {
              "name": "To",
              "value": "=whatsapp:{{ $json.whatsapp_number }}"
            },
            {
              "name": "From",
              "value": "whatsapp:+15558883983"
            },
            {
              "name": "ContentVariables",
              "value": "={\"1\": \"{{ $('When Executed by Another Workflow').first().json.data.buyer_number.trim() }}\", \"2\": \"{{ $('When Executed by Another Workflow').first().json.data.chatInput }}\", \"3\": \"{{ $('When Executed by Another Workflow').first().json.data.url }}\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -576
      ],
      "id": "804ce8d0-3039-431a-be79-cc7c6152e0af",
      "name": "Twilio handover_notification",
      "credentials": {
        "httpBasicAuth": {
          "id": "CBPX932ma6T8P2cq",
          "name": "Twilio Notification Handler Auth"
        }
      }
    },
    {
      "parameters": {
        "content": " - Pulls members and notification settings from workflow input.\n - Checks each member’s notification preferences (email / WhatsApp).\n - Filters and returns only members who are eligible to receive the current notification type.",
        "height": 112,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        320
      ],
      "id": "e766ae1d-1194-40c2-b153-cdf43f2f9a54",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.data.messaging_platform }}",
                    "rightValue": "TWILIO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TWILIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.data.messaging_platform }}",
                    "rightValue": "360D",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "360D"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        912,
        320
      ],
      "id": "3e165488-ec71-4081-8c79-0a01bd7bb88a",
      "name": "Platform Router"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.notification_type }}",
                    "rightValue": "human_handover",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Human Handover"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.notification_type }}",
                    "rightValue": "reply_reminder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reply Reminder"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1440,
        -400
      ],
      "id": "17bb0092-7abb-4226-a55d-7cf78bcbdf81",
      "name": "Twilio Router"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.notification_type }}",
                    "rightValue": "human_handover",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Human Handover"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.notification_type }}",
                    "rightValue": "reply_reminder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reply Reminder"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1440,
        176
      ],
      "id": "868d3ba9-00d5-449b-86e4-d2b786e65be7",
      "name": "360D Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $vars.twilio_notification_sid }}/Messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ContentSid",
              "value": "=HX6a6cc2a4040245ae41858913a459eb91"
            },
            {
              "name": "To",
              "value": "=whatsapp:{{ $json.whatsapp_number }}"
            },
            {
              "name": "From",
              "value": "whatsapp:+15558883983"
            },
            {
              "name": "ContentVariables",
              "value": "={\"1\": \"{{ $('Get Workspace').first().json.workspace_name}}\", \"2\": \"{{ $('When Executed by Another Workflow').item.json.data.buyer_number }}\", \"3\": \"{{ $('When Executed by Another Workflow').first().json.data.chatInput }}\", \"4\": \"{{ $('When Executed by Another Workflow').first().json.data.url }}\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -768
      ],
      "id": "f0e5f8a1-abc6-473a-82f0-1db274c68124",
      "name": "Twilio reply_reminder",
      "credentials": {
        "httpBasicAuth": {
          "id": "CBPX932ma6T8P2cq",
          "name": "Twilio Notification Handler Auth"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifications": {
      "main": [
        [
          {
            "node": "Get Workspace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Channel Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Router": {
      "main": [
        [
          {
            "node": "Platform Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Router": {
      "main": [
        [
          {
            "node": "Sub Activated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sub Upgrade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quota Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quota Exceed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Human Handover",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub Activated": {
      "main": [
        [
          {
            "node": "Send Email to Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workspace": {
      "main": [
        [
          {
            "node": "Filter Eligible Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub Upgrade": {
      "main": [
        [
          {
            "node": "Send Email to Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quota Warning": {
      "main": [
        [
          {
            "node": "Send Email to Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quota Exceed": {
      "main": [
        [
          {
            "node": "Send Email to Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Handover": {
      "main": [
        [
          {
            "node": "Send Email to Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Eligible Members": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Seller": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send handover_notification": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send reply_reminder": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Router": {
      "main": [
        [
          {
            "node": "Twilio Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "360D Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "360D Router": {
      "main": [
        [
          {
            "node": "Send handover_notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send reply_reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Router": {
      "main": [
        [
          {
            "node": "Twilio handover_notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio reply_reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio handover_notification": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio reply_reminder": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "diJYcEVHxO6GUcaA"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "workspace_id": "cac090ea-875a-4b80-b741-75f0029956e6",
          "notification_type": "human_handover",
          "members": [
            {
              "id": "45dd0c85-173d-41a5-816d-2e226e92e7f8",
              "created_at": "2025-09-04T10:14:22.182365+00:00",
              "workspace_id": "cac090ea-875a-4b80-b741-75f0029956e6",
              "email": "arafi304.office@gmail.com",
              "role": "admin",
              "whatsapp_number": "+8801862874374",
              "enable_wa_notification": true,
              "enable_email_notification": false
            }
          ],
          "data": {
            "buyer_number": "+8801836980760\n",
            "chatInput": "yes,",
            "url": "workspace/cac090ea-875a-4b80-b741-75f0029956e6/conversation?chat=b75e5ab7-5c77-43c1-accc-9877818c8d6a",
            "messaging_platform": "360D"
          }
        }
      }
    ]
  },
  "versionId": "ce19041a-d59b-48fc-8616-cc63cf218f5e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-25T22:01:59.886Z",
      "updatedAt": "2025-08-25T22:01:59.886Z",
      "role": "workflow:owner",
      "workflowId": "wvAmiLfYxmDXmmp1",
      "projectId": "6tAtlxJWCabRStRk",
      "project": {
        "createdAt": "2025-02-23T09:34:22.834Z",
        "updatedAt": "2025-09-20T11:43:05.000Z",
        "id": "6tAtlxJWCabRStRk",
        "name": "Intellixio",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "",
        "projectRelations": [
          {
            "createdAt": "2025-09-20T11:43:05.678Z",
            "updatedAt": "2025-09-20T11:43:05.678Z",
            "userId": "f34baaa0-ad5e-4058-8dd6-4597cbdb4c4b",
            "projectId": "6tAtlxJWCabRStRk",
            "user": {
              "createdAt": "2025-02-23T09:31:05.569Z",
              "updatedAt": "2025-09-24T10:51:36.000Z",
              "id": "f34baaa0-ad5e-4058-8dd6-4597cbdb4c4b",
              "email": "nazmul@intellixio.com",
              "firstName": "Md",
              "lastName": "Nazmul Hoque Bhuiyan",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "gnnzSL8nJSeJJzsW",
                "userActivatedAt": 1742741512234,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743747154775
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-23",
              "isPending": false
            }
          },
          {
            "createdAt": "2025-09-20T11:43:05.678Z",
            "updatedAt": "2025-09-20T11:43:05.678Z",
            "userId": "1e68db5b-4913-45af-b443-69532f68ffac",
            "projectId": "6tAtlxJWCabRStRk",
            "user": {
              "createdAt": "2025-04-13T06:25:33.258Z",
              "updatedAt": "2025-09-23T18:00:19.000Z",
              "id": "1e68db5b-4913-45af-b443-69532f68ffac",
              "email": "arafi304.office@gmail.com",
              "firstName": "Mohammad",
              "lastName": "Al Rafi",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "SKLCNSSSGove7dt7",
                "userActivated": true,
                "userActivatedAt": 1746352924058,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1747539770607
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-23",
              "isPending": false
            }
          },
          {
            "createdAt": "2025-09-20T11:43:05.678Z",
            "updatedAt": "2025-09-20T11:43:05.678Z",
            "userId": "9ee433e6-26e5-4c4e-a0a9-059003221711",
            "projectId": "6tAtlxJWCabRStRk",
            "user": {
              "createdAt": "2025-05-21T06:43:50.821Z",
              "updatedAt": "2025-09-24T06:27:51.000Z",
              "id": "9ee433e6-26e5-4c4e-a0a9-059003221711",
              "email": "sumon.intellixio@gmail.com",
              "firstName": "Zahid Khandaker",
              "lastName": "Sumon",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-23",
              "isPending": false
            }
          },
          {
            "createdAt": "2025-09-20T11:43:05.678Z",
            "updatedAt": "2025-09-20T11:43:05.678Z",
            "userId": "b4a0fd83-613e-45d3-95bc-b8c90438d59e",
            "projectId": "6tAtlxJWCabRStRk",
            "user": {
              "createdAt": "2025-09-20T11:32:07.300Z",
              "updatedAt": "2025-09-23T02:59:58.000Z",
              "id": "b4a0fd83-613e-45d3-95bc-b8c90438d59e",
              "email": "nazmulofficial@outlook.com",
              "firstName": "Sheikh Mohammad Nazmul",
              "lastName": "Hasan",
              "personalizationAnswers": null,
              "settings": null,
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-22",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-18T18:00:49.195Z",
      "updatedAt": "2025-09-18T18:00:49.195Z",
      "id": "IeFAhy5ppA75XMXr",
      "name": "used-by:gzWevmxOQIphVS8W"
    },
    {
      "createdAt": "2025-09-04T18:01:02.204Z",
      "updatedAt": "2025-09-04T18:01:02.204Z",
      "id": "OWppZ70X26o9xaPE",
      "name": "used-by:QMbLjSOPvvRIcrPv"
    },
    {
      "createdAt": "2025-08-14T18:00:26.948Z",
      "updatedAt": "2025-08-14T18:00:26.948Z",
      "id": "VeLhGRpS4zQWwmoJ",
      "name": "used-by:xh2u8A99JB2G82pI"
    },
    {
      "createdAt": "2025-06-17T14:59:14.248Z",
      "updatedAt": "2025-06-17T14:59:14.248Z",
      "id": "Wi4KHHcmOKGE2kYC",
      "name": "used-by:XWkjdfuEI4BdaGJP"
    },
    {
      "createdAt": "2025-08-28T18:01:02.764Z",
      "updatedAt": "2025-08-28T18:01:02.764Z",
      "id": "alkQp3jfmQNSI25C",
      "name": "used-by:HIxjB6fHdUiBXYPe"
    },
    {
      "createdAt": "2025-09-18T18:00:49.134Z",
      "updatedAt": "2025-09-18T18:00:49.134Z",
      "id": "jcHZY4kmokcvmdXv",
      "name": "used-by:51weKUjgAClHOJIj"
    },
    {
      "createdAt": "2025-09-18T18:00:49.102Z",
      "updatedAt": "2025-09-18T18:00:49.102Z",
      "id": "sX6jtH5cuspWTdkZ",
      "name": "used-by:6Sl6wzKELXkaajt6"
    },
    {
      "createdAt": "2025-09-18T18:00:49.164Z",
      "updatedAt": "2025-09-18T18:00:49.164Z",
      "id": "tJTCHkI6gOWtQou9",
      "name": "used-by:OdZV3Ragd64eTaV2"
    },
    {
      "createdAt": "2025-06-17T14:59:14.275Z",
      "updatedAt": "2025-06-17T14:59:14.275Z",
      "id": "zsgptq1gYNwy4XnO",
      "name": "used-by:pMW2u20Asbm1YVxJ"
    }
  ]
}